@media only screen and (orientation: landscape) { 

    /* Preload images */
    body:before {
        display: none;
        content: url('/img/sample_background.jpg')
    }
    
    html, body {
        width: 100%;
        height: 100%;
    } 
    
    body {
        overflow-y: hidden ! important;
        overflow-x: hidden ! important;
        background-image: url('/img/sample_background.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    :-webkit-full-screen {
		background: url('/img/sample_background.jpg');
		background-size: 100% 100%;
	}
	:-moz-full-screen {
		background: url('/img/sample_background.jpg');
		background-size: 100% 100%;
	}


    #pause {
        position: absolute;
        right: 0;
        top: 5%;
        width: 12%;
    }
}
